## Preprocessing

In [96]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from keras.callbacks import ModelCheckpoint
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [97]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [98]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [99]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [100]:
# Choose a cutoff value
cutoff_value = 500  # You can adjust this cutoff value as needed

# Get the value counts of application types
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced with "Other"
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index

# Replace in the DataFrame
application_df['APPLICATION_TYPE'].replace(application_types_to_replace, "Other", inplace=True)

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [101]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [102]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_counts=application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

In [103]:
# Choose a cutoff value (e.g., 1000) for classification counts
cutoff_value = 1000

# Get the counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced based on the cutoff value
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [104]:
# Convert categorical data to numeric with `pd.get_dummies`

df = pd.DataFrame(application_df)

# Convert 'Category' column to dummy variables
df = pd.get_dummies(df).astype(int)

In [105]:
# Split our preprocessed data into our features and target arrays
# Assuming you have a DataFrame 'application_df' with preprocessed data

# Define your features (X) and target (y)
X = df.drop(columns=['IS_SUCCESSFUL'],axis=1)
y = df['IS_SUCCESSFUL']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=70)

In [106]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [107]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()
# 17 + 6 + 71 + 5 + 4 + 9 = 112 neurons for the categorical features.

# # First hidden layer 
nn_model.add(Dense(units=112, activation='relu', input_dim=43))

# Second hidden layer 
nn_model.add(Dense(units=50, activation='relu'))

# Second hidden layer 
nn_model.add(Dense(units=30, activation='relu'))

# Output layer
nn_model.add(Dense(units=1, activation='sigmoid'))  # For binary classification

# Check the structure of the model
nn_model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 112)               4928

 dense_19 (Dense)            (None, 50)                5650

 dense_20 (Dense)            (None, 30)                1530

 dense_21 (Dense)            (None, 1)                 31

=================================================================
Total params: 12139 (47.42 KB)
Trainable params: 12139 (47.42 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [108]:
# Compile the model
# Assuming you've defined your model as 'nn' (as per your previous code)

# Compile the model

nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [109]:
# Define the ModelCheckpoint callback
model_checkpoint = ModelCheckpoint(
    filepath='model_weights_epoch.h5',
    save_weights_only=True,
    period=5  # Save weights every 5 epochs
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [110]:
# Train your model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50,callbacks=model_checkpoint)

Epoch 1/50

804/804 [==============================] - 1s 703us/step - loss: 0.5688 - accuracy: 0.7216
Epoch 2/50
804/804 [==============================] - 1s 669us/step - loss: 0.5548 - accuracy: 0.7293
Epoch 3/50
804/804 [==============================] - 1s 685us/step - loss: 0.5516 - accuracy: 0.7320
Epoch 4/50
804/804 [==============================] - 1s 670us/step - loss: 0.5501 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 688us/step - loss: 0.5489 - accuracy: 0.7330
Epoch 6/50
804/804 [==============================] - 1s 686us/step - loss: 0.5484 - accuracy: 0.7336
Epoch 7/50
804/804 [==============================] - 1s 661us/step - loss: 0.5473 - accuracy: 0.7354
Epoch 8/50
804/804 [==============================] - 1s 710us/step - loss: 0.5462 - accuracy: 0.7350
Epoch 9/50
804/804 [==============================] - 1s 668us/step - loss: 0.5457 - accuracy: 0.7351
Epoch 10/50
804/804 [==============================] - 1s 684us/step - loss: 0.5445 - accuracy: 0.7368
Epoch 11/50
804/804 [==============================] - 1s 669us/step - loss: 0.5450 - accuracy: 0.7350
Epoch 12/50
804/804 [==============================] - 1s 685us/step - loss: 0.5447 - accuracy: 0.7359
Epoch 13/50
804/804 [==============================] - 1s 681us/step - loss: 0.5446 - accuracy: 0.7361
Epoch 14/50
804/804 [==============================] - 1s 654us/step - loss: 0.5434 - accuracy: 0.7352
Epoch 15/50
804/804 [==============================] - 1s 688us/step - loss: 0.5436 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 668us/step - loss: 0.5438 - accuracy: 0.7371
Epoch 17/50
804/804 [==============================] - 1s 683us/step - loss: 0.5424 - accuracy: 0.7381
Epoch 18/50
804/804 [==============================] - 1s 696us/step - loss: 0.5426 - accuracy: 0.7371
Epoch 19/50
804/804 [==============================] - 1s 655us/step - loss: 0.5417 - accuracy: 0.7373
Epoch 20/50
804/804 [==============================] - 1s 690us/step - loss: 0.5421 - accuracy: 0.7372
Epoch 21/50
804/804 [==============================] - 1s 660us/step - loss: 0.5413 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 1s 667us/step - loss: 0.5413 - accuracy: 0.7385
Epoch 23/50
804/804 [==============================] - 1s 694us/step - loss: 0.5408 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 1s 666us/step - loss: 0.5408 - accuracy: 0.7376
Epoch 25/50
804/804 [==============================] - 1s 680us/step - loss: 0.5405 - accuracy: 0.7379
Epoch 26/50
804/804 [==============================] - 1s 673us/step - loss: 0.5398 - accuracy: 0.7382
Epoch 27/50
804/804 [==============================] - 1s 700us/step - loss: 0.5401 - accuracy: 0.7384
Epoch 28/50
804/804 [==============================] - 1s 693us/step - loss: 0.5402 - accuracy: 0.7387
Epoch 29/50
804/804 [==============================] - 1s 672us/step - loss: 0.5398 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 1s 710us/step - loss: 0.5399 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 1s 668us/step - loss: 0.5393 - accuracy: 0.7392
Epoch 32/50
804/804 [==============================] - 1s 671us/step - loss: 0.5394 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 1s 690us/step - loss: 0.5392 - accuracy: 0.7396
Epoch 34/50
804/804 [==============================] - 1s 671us/step - loss: 0.5386 - accuracy: 0.7386
Epoch 35/50
804/804 [==============================] - 1s 682us/step - loss: 0.5387 - accuracy: 0.7392
Epoch 36/50
804/804 [==============================] - 1s 687us/step - loss: 0.5389 - accuracy: 0.7383
Epoch 37/50
804/804 [==============================] - 1s 682us/step - loss: 0.5383 - accuracy: 0.7391
Epoch 38/50
804/804 [==============================] - 1s 695us/step - loss: 0.5382 - accuracy: 0.7393
Epoch 39/50
804/804 [==============================] - 1s 665us/step - loss: 0.5377 - accuracy: 0.7402
Epoch 40/50
804/804 [==============================] - 1s 696us/step - loss: 0.5381 - accuracy: 0.7390
Epoch 41/50
804/804 [==============================] - 1s 667us/step - loss: 0.5377 - accuracy: 0.7399
Epoch 42/50
804/804 [==============================] - 1s 670us/step - loss: 0.5383 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 1s 694us/step - loss: 0.5376 - accuracy: 0.7399
Epoch 44/50
804/804 [==============================] - 1s 670us/step - loss: 0.5376 - accuracy: 0.7397
Epoch 45/50
804/804 [==============================] - 1s 710us/step - loss: 0.5370 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 668us/step - loss: 0.5371 - accuracy: 0.7395
Epoch 47/50
804/804 [==============================] - 1s 689us/step - loss: 0.5369 - accuracy: 0.7396
Epoch 48/50
804/804 [==============================] - 1s 666us/step - loss: 0.5365 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 1s 665us/step - loss: 0.5371 - accuracy: 0.7397
Epoch 50/50
804/804 [==============================] - 1s 694us/step - loss: 0.5363 - accuracy: 0.7401

In [111]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7278 - 180ms/epoch - 673us/step
Loss: 0.5560174584388733, Accuracy: 0.7278134226799011

In [112]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

c:\Users\Sujatha\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(