## Preprocessing

In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from keras.callbacks import ModelCheckpoint
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [40]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [41]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [42]:
# Choose a cutoff value
cutoff_value = 500  # You can adjust this cutoff value as needed

# Get the value counts of application types
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Identify application types to be replaced with "Other"
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index

# Replace in the DataFrame
application_df['APPLICATION_TYPE'].replace(application_types_to_replace, "Other", inplace=True)

# Check to make sure binning was successful
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [43]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_counts=application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

In [45]:
# Choose a cutoff value (e.g., 1000) for classification counts
cutoff_value = 1000

# Get the counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced based on the cutoff value
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`

df = pd.DataFrame(application_df)

# Convert 'Category' column to dummy variables
df = pd.get_dummies(df).astype(int)

In [47]:
# Split our preprocessed data into our features and target arrays
# Assuming you have a DataFrame 'application_df' with preprocessed data

# Define your features (X) and target (y)
X = df.drop(columns=['IS_SUCCESSFUL'],axis=1)
y = df['IS_SUCCESSFUL']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=70)

In [48]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# # First hidden layer 
nn_model.add(Dense(units=80, activation='relu', input_dim=43))

# Second hidden layer 
nn_model.add(Dense(units=30, activation='relu'))


nn_model.add(Dense(units=1, activation='sigmoid'))  # For binary classification

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================

 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [50]:
# Compile the model
# Assuming you've defined your model as 'nn' (as per your previous code)

# Compile the model

nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [59]:
# Define the ModelCheckpoint callback
model_checkpoint = ModelCheckpoint(
    filepath='model_weights_epoch.h5',
    save_weights_only=True,
    period=5  # Save weights every 5 epochs
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [60]:
# Train your model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100,callbacks=model_checkpoint)

Epoch 1/100
804/804 [==============================] - 1s 666us/step - loss: 0.5319 - accuracy: 0.7422
Epoch 2/100
804/804 [==============================] - 1s 637us/step - loss: 0.5317 - accuracy: 0.7424
Epoch 3/100
804/804 [==============================] - 1s 648us/step - loss: 0.5315 - accuracy: 0.7422
Epoch 4/100
804/804 [==============================] - 1s 637us/step - loss: 0.5317 - accuracy: 0.7417
Epoch 5/100
804/804 [==============================] - 1s 668us/step - loss: 0.5326 - accuracy: 0.7420
Epoch 6/100
804/804 [==============================] - 1s 624us/step - loss: 0.5322 - accuracy: 0.7417
Epoch 7/100
804/804 [==============================] - 1s 639us/step - loss: 0.5320 - accuracy: 0.7420
Epoch 8/100
804/804 [==============================] - 1s 681us/step - loss: 0.5316 - accuracy: 0.7418
Epoch 9/100
804/804 [==============================] - 1s 638us/step - loss: 0.5315 - accuracy: 0.7420
Epoch 10/100
804/804 [==============================] - 1s 691us/step - loss: 0.5314 - accuracy: 0.7429
Epoch 11/100
804/804 [==============================] - 0s 619us/step - loss: 0.5317 - accuracy: 0.7418
Epoch 12/100
804/804 [==============================] - 1s 640us/step - loss: 0.5319 - accuracy: 0.7418
Epoch 13/100
804/804 [==============================] - 1s 627us/step - loss: 0.5329 - accuracy: 0.7425
Epoch 14/100
804/804 [==============================] - 1s 639us/step - loss: 0.5318 - accuracy: 0.7422
Epoch 15/100
804/804 [==============================] - 1s 701us/step - loss: 0.5317 - accuracy: 0.7420
Epoch 16/100
804/804 [==============================] - 1s 639us/step - loss: 0.5315 - accuracy: 0.7428
Epoch 17/100
804/804 [==============================] - 1s 666us/step - loss: 0.5317 - accuracy: 0.7418
Epoch 18/100
804/804 [==============================] - 1s 668us/step - loss: 0.5315 - accuracy: 0.7420
Epoch 19/100
804/804 [==============================] - 1s 636us/step - loss: 0.5318 - accuracy: 0.7420
Epoch 20/100
804/804 [==============================] - 1s 670us/step - loss: 0.5335 - accuracy: 0.7422
Epoch 21/100
804/804 [==============================] - 1s 633us/step - loss: 0.5317 - accuracy: 0.7418
Epoch 22/100
804/804 [==============================] - 1s 636us/step - loss: 0.5314 - accuracy: 0.7420
Epoch 23/100
804/804 [==============================] - 1s 648us/step - loss: 0.5315 - accuracy: 0.7421
Epoch 24/100
804/804 [==============================] - 1s 642us/step - loss: 0.5317 - accuracy: 0.7420
Epoch 25/100
804/804 [==============================] - 1s 678us/step - loss: 0.5316 - accuracy: 0.7423
Epoch 26/100
804/804 [==============================] - 1s 626us/step - loss: 0.5317 - accuracy: 0.7420
Epoch 27/100
804/804 [==============================] - 1s 652us/step - loss: 0.5320 - accuracy: 0.7426
Epoch 28/100
804/804 [==============================] - 1s 638us/step - loss: 0.5314 - accuracy: 0.7418
Epoch 29/100
804/804 [==============================] - 1s 643us/step - loss: 0.5313 - accuracy: 0.7425
Epoch 30/100
804/804 [==============================] - 1s 703us/step - loss: 0.5314 - accuracy: 0.7430
Epoch 31/100
804/804 [==============================] - 1s 641us/step - loss: 0.5313 - accuracy: 0.7423
Epoch 32/100
804/804 [==============================] - 1s 641us/step - loss: 0.5318 - accuracy: 0.7416
Epoch 33/100
804/804 [==============================] - 1s 650us/step - loss: 0.5322 - accuracy: 0.7426
Epoch 34/100
804/804 [==============================] - 1s 634us/step - loss: 0.5314 - accuracy: 0.7420
Epoch 35/100
804/804 [==============================] - 1s 672us/step - loss: 0.5315 - accuracy: 0.7417
Epoch 36/100
804/804 [==============================] - 0s 610us/step - loss: 0.5313 - accuracy: 0.7423
Epoch 37/100
804/804 [==============================] - 1s 642us/step - loss: 0.5312 - accuracy: 0.7424
Epoch 38/100
804/804 [==============================] - 1s 640us/step - loss: 0.5317 - accuracy: 0.7421
Epoch 39/100
804/804 [==============================] - 1s 683us/step - loss: 0.5402 - accuracy: 0.7421
Epoch 40/100
804/804 [==============================] - 1s 645us/step - loss: 0.5309 - accuracy: 0.7423
Epoch 41/100
804/804 [==============================] - 1s 628us/step - loss: 0.5306 - accuracy: 0.7419
Epoch 42/100
804/804 [==============================] - 1s 626us/step - loss: 0.5309 - accuracy: 0.7425
Epoch 43/100
804/804 [==============================] - 1s 631us/step - loss: 0.5307 - accuracy: 0.7422
Epoch 44/100
804/804 [==============================] - 1s 667us/step - loss: 0.5312 - accuracy: 0.7418
Epoch 45/100
804/804 [==============================] - 1s 673us/step - loss: 0.5313 - accuracy: 0.7418
Epoch 46/100
804/804 [==============================] - 1s 675us/step - loss: 0.5306 - accuracy: 0.7421
Epoch 47/100
804/804 [==============================] - 1s 678us/step - loss: 0.5310 - accuracy: 0.7418
Epoch 48/100
804/804 [==============================] - 1s 677us/step - loss: 0.5325 - accuracy: 0.7428
Epoch 49/100
804/804 [==============================] - 1s 677us/step - loss: 0.5312 - accuracy: 0.7423
Epoch 50/100
804/804 [==============================] - 1s 725us/step - loss: 0.5310 - accuracy: 0.7425
Epoch 51/100
804/804 [==============================] - 1s 641us/step - loss: 0.5320 - accuracy: 0.7420
Epoch 52/100
804/804 [==============================] - 1s 657us/step - loss: 0.5308 - accuracy: 0.7428
Epoch 53/100
804/804 [==============================] - 1s 678us/step - loss: 0.5309 - accuracy: 0.7418
Epoch 54/100
804/804 [==============================] - 1s 655us/step - loss: 0.5312 - accuracy: 0.7422
Epoch 55/100
804/804 [==============================] - 1s 660us/step - loss: 0.5314 - accuracy: 0.7423
Epoch 56/100
804/804 [==============================] - 1s 658us/step - loss: 0.5320 - accuracy: 0.7421
Epoch 57/100
804/804 [==============================] - 1s 637us/step - loss: 0.5307 - accuracy: 0.7424
Epoch 58/100
804/804 [==============================] - 1s 671us/step - loss: 0.5308 - accuracy: 0.7419
Epoch 59/100
804/804 [==============================] - 1s 634us/step - loss: 0.5317 - accuracy: 0.7417
Epoch 60/100
804/804 [==============================] - 1s 694us/step - loss: 0.5313 - accuracy: 0.7427
Epoch 61/100
804/804 [==============================] - 1s 639us/step - loss: 0.5312 - accuracy: 0.7425
Epoch 62/100
804/804 [==============================] - 1s 701us/step - loss: 0.5305 - accuracy: 0.7426
Epoch 63/100
804/804 [==============================] - 1s 649us/step - loss: 0.5311 - accuracy: 0.7424
Epoch 64/100
804/804 [==============================] - 1s 741us/step - loss: 0.5313 - accuracy: 0.7423
Epoch 65/100
804/804 [==============================] - 1s 711us/step - loss: 0.5307 - accuracy: 0.7423
Epoch 66/100
804/804 [==============================] - 1s 723us/step - loss: 0.5310 - accuracy: 0.7422
Epoch 67/100
804/804 [==============================] - 1s 809us/step - loss: 0.5310 - accuracy: 0.7425
Epoch 68/100
804/804 [==============================] - 1s 740us/step - loss: 0.5310 - accuracy: 0.7423
Epoch 69/100
804/804 [==============================] - 1s 696us/step - loss: 0.5309 - accuracy: 0.7418
Epoch 70/100
804/804 [==============================] - 1s 748us/step - loss: 0.5310 - accuracy: 0.7419
Epoch 71/100
804/804 [==============================] - 1s 743us/step - loss: 0.5309 - accuracy: 0.7426
Epoch 72/100
804/804 [==============================] - 1s 707us/step - loss: 0.5310 - accuracy: 0.7421
Epoch 73/100
804/804 [==============================] - 1s 845us/step - loss: 0.5308 - accuracy: 0.7422
Epoch 74/100
804/804 [==============================] - 1s 765us/step - loss: 0.5308 - accuracy: 0.7427
Epoch 75/100
804/804 [==============================] - 1s 716us/step - loss: 0.5325 - accuracy: 0.7418
Epoch 76/100
804/804 [==============================] - 1s 693us/step - loss: 0.5334 - accuracy: 0.7424
Epoch 77/100
804/804 [==============================] - 1s 680us/step - loss: 0.5310 - accuracy: 0.7426
Epoch 78/100
804/804 [==============================] - 1s 702us/step - loss: 0.5306 - accuracy: 0.7421
Epoch 79/100
804/804 [==============================] - 1s 681us/step - loss: 0.5308 - accuracy: 0.7423
Epoch 80/100
804/804 [==============================] - 1s 730us/step - loss: 0.5310 - accuracy: 0.7427
Epoch 81/100
804/804 [==============================] - 1s 740us/step - loss: 0.5307 - accuracy: 0.7423
Epoch 82/100
804/804 [==============================] - 1s 739us/step - loss: 0.5315 - accuracy: 0.7422
Epoch 83/100
804/804 [==============================] - 1s 672us/step - loss: 0.5306 - accuracy: 0.7427
Epoch 84/100
804/804 [==============================] - 1s 694us/step - loss: 0.5307 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 1s 716us/step - loss: 0.5311 - accuracy: 0.7428
Epoch 86/100
804/804 [==============================] - 1s 693us/step - loss: 0.5318 - accuracy: 0.7421
Epoch 87/100
804/804 [==============================] - 1s 711us/step - loss: 0.5320 - accuracy: 0.7424
Epoch 88/100
804/804 [==============================] - 1s 713us/step - loss: 0.5308 - accuracy: 0.7421
Epoch 89/100
804/804 [==============================] - 1s 730us/step - loss: 0.5306 - accuracy: 0.7424
Epoch 90/100
804/804 [==============================] - 1s 674us/step - loss: 0.5314 - accuracy: 0.7423
Epoch 91/100
804/804 [==============================] - 1s 708us/step - loss: 0.5303 - accuracy: 0.7423
Epoch 92/100
804/804 [==============================] - 1s 709us/step - loss: 0.5312 - accuracy: 0.7423
Epoch 93/100
804/804 [==============================] - 1s 766us/step - loss: 0.5307 - accuracy: 0.7420
Epoch 94/100
804/804 [==============================] - 1s 758us/step - loss: 0.5309 - accuracy: 0.7425
Epoch 95/100
804/804 [==============================] - 1s 814us/step - loss: 0.5309 - accuracy: 0.7424
Epoch 96/100
804/804 [==============================] - 1s 803us/step - loss: 0.5309 - accuracy: 0.7425
Epoch 97/100
804/804 [==============================] - 1s 739us/step - loss: 0.5307 - accuracy: 0.7428
Epoch 98/100
804/804 [==============================] - 1s 725us/step - loss: 0.5313 - accuracy: 0.7427
Epoch 99/100
804/804 [==============================] - 1s 731us/step - loss: 0.5317 - accuracy: 0.7427
Epoch 100/100
804/804 [==============================] - 1s 763us/step - loss: 0.5307 - accuracy: 0.7423

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5615 - accuracy: 0.7264 - 210ms/epoch - 784us/step
Loss: 0.5614722371101379, Accuracy: 0.7264139652252197

In [54]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

c:\Users\Sujatha\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(